* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

header {
  background-color: #34825f;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
}
